/* .dob-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
} */
.dob-label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.required-star {
  color: #dc2626; 
  font-size: 1rem;
  font-weight: 600;
  margin-top: -12px;
}

.dob-input {
  width: 300px;
  padding: 0.5rem 0.5rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #2d2d2d;
  font-family: sans-serif;
  margin-top: 10px;
}
.dob-input:focus {
  outline: none;
  border-color: #007BFF; 
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); 
  background-color: #f0f8ff; 
  transition: all 0.3s ease;
}

