<!-- <div
  class="toggle-container"
  [class.label-left]="labelPosition === 'left'"
  [style.--label-color]="labelColor"   
>
  <label *ngIf="label" class="upload-label" for="toggle">{{ label }}</label>

  <div class="switch-wrapper">
    <input
      type="checkbox"
      id="toggle"
      class="toggle-input"
      [checked]="checked"
      (change)="onToggle($event)"
    />
    <label
      for="toggle"
      class="toggle-label"
      [class.on]="checked"
      [style.--toggle-color]="color"
    ></label>
  </div>
</div>

 -->


 <!-- <div
  class="toggle-container"
  [class.label-left]="labelPosition === 'left'"
  [style.--label-color]="labelColor"
>
  <label *ngIf="label" class="upload-label" for="toggle">{{ label }}</label>

  <div class="switch-wrapper">
    <input
      type="checkbox"
      id="toggle"
      class="toggle-input"
      [checked]="checked"
      (change)="onToggle($event)"
    />
    <label
      for="toggle"
      class="toggle-label"
      [class.on]="checked"
      [ngClass]="size"
      [style.--toggle-color]="color"
      [style.--toggle-width]="toggleWidth"
      [style.--toggle-height]="toggleHeight"
      [style.--knob-size]="knobSize"
      [style.--knob-translate]="knobTranslate"
    ></label>
  </div>
</div> -->


<div 
  class="toggle-container"
  [class.label-left]="labelPosition === 'left'"
  [style.--label-color]="labelColor"
>
  <label *ngIf="label" class="upload-label" for="toggle">{{ label }}</label>
  <div class="switch-wrapper">
    <ng-container *ngIf="!useCheckbox; else checkboxMode">
      <input
        type="checkbox"
        id="toggle"
        class="toggle-input"
        [checked]="checked"
        (change)="onToggle($event)"
      />
      <label
        for="toggle"
        class="toggle-label"
        [class.on]="checked"
        [ngClass]="size"
        [style.--toggle-color]="color"
        [style.--toggle-width]="toggleWidth"
        [style.--toggle-height]="toggleHeight"
        [style.--knob-size]="knobSize"
        [style.--knob-translate]="knobTranslate"
      ></label>
    </ng-container>

    <ng-template #checkboxMode>
      <input
        type="checkbox"
        id="checkboxToggle"
        [checked]="checked"
        (change)="onToggle($event)"
        class="checkbox-input"
        [style.--checkbox-color]="color"
        [style.--tick-color]="tickColor"
      />
    </ng-template>
  </div>
</div>

