.container {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.blank-space {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 0 20px;
  align-items: flex-start;
  border: 1px solid lightgray;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.blank-space.visible {
  padding: 20px;
  max-height: max-content;
  opacity: 1;
}

.inside {
  display: grid;
  gap: 16px;
  /* margin-bottom: 18px;
  margin-top: 20px; */
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
}

/* .inside app-drop-down,
.inside app-calendar {
  flex: 1;                
  min-width: 0;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 18px 0;
  width: 100%;
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2px;
  padding-top: 13px;
  gap: 8px;
}

.custom-line {
  border: none;
  border-top: 1px solid grey;
  margin: 30px 0;
  opacity: 0.6;
}

.card-title {
  color: black;
  font-size: 16px;
  font-weight: 400;
  font-family: ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.title-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 15px;
  font-weight: 600;
  color: #1a1a1a;
}

.description {
  font-size: 14px;
  color: #4b4b4b;
  margin: 10px 0 16px 0;
  line-height: 1.4;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #6c6c6c;
}

.posted-by {
  font-style: italic;
  color: #666;
}

.custom-line {
  border: none;
  border-top: 1px solid #e2e8f0;
  margin: 30px 0;
  opacity: 0.6;
}

.date {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}

.expire-label {
  color: #000000;
}

.expire-date {
  color: #C0171A;
}

::ng-deep .cdk-overlay-container,
::ng-deep .cdk-overlay-pane,
::ng-deep .mat-datepicker-content {
  z-index: 9999 !important;
}

.blank-space,
.blank-space-two,
.inside {
  overflow: visible !important;
  position: relative; 
}