.popup {
  width: 100%;
  /* max-width: 800px;*/
  background-color: white;
  border-radius: 12px;
  padding: 30px 40px;
  border: 1px solid gray;
  text-align: center;
  border-left: 5px solid red;

  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-y: auto;              
  max-height: 80vh;              
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin: 10px 0;
}

.message {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: gray;
  line-height: 1.5;
  word-break: break-word;
  white-space: normal;
}

.btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap; 
}
