<button (click)="showPopup = true">click</button>


<div class="overlay" *ngIf="showPopup">
  
  
  <div class="popup fade-in" [ngClass]="{ 'fade-out': isClosing }" [ngStyle]="{'border-left': '5px solid ' + borderColor}">
    <div class="icon">{{ changeIcon }}</div>
    <h2 class="title">{{ title }}</h2>

    <p class="message" [innerHTML]="safeLabel"></p>

    <div class="btn">
      <orms-button *ngFor="let item of data"
        [text]="item.text"
        [bgColor]="item.bgColor"
        [color]="item.color"
        [hoverBGColor]="item.hoverBGColor"
        [hoverColor]="item.hoverColor"
        [borderColor]="item.borderColor"
        [showBorder]="item.showBorder"
        (click)="item.text === 'Cancel' ? closePopup() : null">
      </orms-button>
    </div>

  </div>

</div>
