
<div class="blank-space">
 
    <div class="inside">
        <div class="icon" aria-hidden="true">
         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                class="lucide lucide-shield-check h-4 w-4" aria-hidden="true">
            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
            <path d="M9 12l2 2 4-4"></path>
        </svg>

        </div>
        <h5>Insurance Details</h5>
    </div>
    <p>Father Details</p>
    <hr class="custom-line">
    <div class="grid-container">
        <!-- <app-file-upload [label]="'Employee Photo'" [buttonLabel]="'Upload File'"></app-file-upload> -->
        <!-- <div></div> -->
        <app-text-box [label]="'Father Name'" [placeHolder]="'Enter Father Name'" [isRequired]="true"></app-text-box>
        <div></div>
        <!-- <app-file-upload [label]="'Employee PAN'" [buttonLabel]="'Choose File'"></app-file-upload> -->
        <app-text-box [label]="'Father Aadhar Number'" [placeHolder]="'Enter Aadhar Number'" [isRequired]="true"></app-text-box>
        <app-file-upload [label]="'Aadhar Upload'" [buttonLabel]="'Choose File'"></app-file-upload>
        <app-text-box [label]="'Father PAN Number'" [placeHolder]="'Enter PAN Number'" [isRequired]="true"></app-text-box>
        <app-file-upload [label]="'PAN Upload'" [buttonLabel]="'Choose File'"></app-file-upload>
        <app-calendar [label]="'DOB'"></app-calendar>
        <app-text-box [label]="'Occupation'" [placeHolder]="'Enter Father Occupation'" [isRequired]="true"></app-text-box>     
    </div>

    <p>Mother Details</p>
    <hr class="custom-line">
    <div class="grid-container">
        
        <app-text-box [label]="'Mother Name'" [placeHolder]="'Enter Mother Name'" [isRequired]="true"></app-text-box>
        <div></div>
        <app-text-box [label]="'Mother Aadhar Number'" [placeHolder]="'Enter Aadhar Number'" [isRequired]="true"></app-text-box>
        <app-file-upload [label]="'Aadhar Upload'" [buttonLabel]="'Choose File'"></app-file-upload>
        <app-text-box [label]="'Mother PAN Number'" [placeHolder]="'Enter PAN Number'" [isRequired]="true"></app-text-box>
        <app-file-upload [label]="'PAN Upload'" [buttonLabel]="'Choose File'"></app-file-upload>
        <app-calendar [label]="'Date of Birth'"></app-calendar>
        <app-text-box [label]="'Occupation'" [placeHolder]="'Enter Mother Occupation'" [isRequired]="true"></app-text-box>
           
        <!-- <app-toggle [checked]="false" [color]="'#4CAF50'" [label]="'If your Father have any pre existing details, please enable  '" [labelPosition]="'left'" [labelColor]="'#333'" (checkedChange)="checkedChange($event)" (toggleChange)="toggleChange($event)"></app-toggle>   -->
    </div>

    <p>Spouse Details</p>
    <hr class="custom-line">
    <div class="grid-container">
       
        <app-text-box [label]="'Spouse Name'" [placeHolder]="'Enter Spouse Name'" [isRequired]="true"></app-text-box>
        <div></div>
        <!-- <app-file-upload [label]="'Employee PAN'" [buttonLabel]="'Choose File'"></app-file-upload> -->
        <app-text-box [label]="'Spouse Aadhar Number'" [placeHolder]="'Enter Spouse Number'" [isRequired]="true"></app-text-box>
        <app-file-upload [label]="'Aadhar Upload'" [buttonLabel]="'Choose File'" [isRequired]="false"></app-file-upload>
        <app-text-box [label]="'Spouse PAN Number'" [placeHolder]="'Enter PAN Number'" [isRequired]="true"></app-text-box>
        <app-file-upload [label]="'PAN Upload'" [buttonLabel]="'Choose File'" [isRequired]="false"></app-file-upload>
        <app-calendar [label]="'DOB'" [isRequired]="false"></app-calendar>
        <app-text-box [label]="'Occupation'" [placeHolder]="'Enter Spouse Occupation'" [isRequired]="true"></app-text-box>       
    </div>
</div>