
.text{
  color: #366fed;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  margin-top: 3%;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.grid-container2 app-count-widget {
  width: 100%;
  height: 100%;
}