
<div class="text-left">
  <!-- Label -->
  <label class="block font-semibold !text-slate-800 mb-1.5 text-[14px]">
    {{ label }}
    @if (isRequired) {
      <span class="text-rose-600">*</span>
    }
  </label>

  <!-- Input Field -->
  <input
    type="text"
    id="fullname"
    name="fullname"
    [value]="value"
    [ngModel]="value"
    (ngModelChange)="onInputChange($event)"
    (input)="updateCharCount()"

    [placeholder]="placeHolder"
    [attr.maxlength]="maxChars"
    [ngClass]="{
      'border border-slate-300': showBorder,
      'border-transparent': !showBorder
    }"
      [ngStyle]="{
    'border': '1px solid',
    'border-color': isSave ? 'green' : null
  }"
    class="h-[36px] w-full px-3 py-2 text-[12px] text-gray-800 rounded-md outline-none transition
           focus:border-blue-600 focus:ring-4 focus:outline-none focus:border-[#2563eb]
           focus:ring-[3px] focus:ring-[rgba(37,99,235,0.5)] focus:ring-blue-300
           placeholder:text-gray-400 bg-white"
    />

    <!-- Character Counter -->
    @if (showCharCount) {
      <p
    [ngStyle]="{
      color: isRequired ? '#dc2626' : '#000000',
    }"
        class="text-[11px] font-medium text-xs  text-left"
        >
        {{ currentCharCount }} of {{ maxChars }} characters left
      </p>
    }
  </div>
