<div class="text-left">
  <label class="block font-semibold text-slate-800 mb-1.5 text-[14px]">
    {{ label }}
    @if (isRequired) {
      <span class="text-rose-600">*</span>
    }
  </label>

  <input
    type="text"
    class="h-[36px] w-full px-3 py-2 text-[12px] text-gray-800 rounded-md bg-white
           border outline-none transition
           focus:border-blue-600 focus:ring-4 focus:ring-[rgba(37,99,235,0.5)]"
    [placeholder]="placeHolder"
    [disabled]="disabled"
    [value]="value"
    (input)="onInputChange($event.target.value)"
    [ngStyle]="{
      'border-color': showError
        ? '#dc2626'
        : isSave
          ? 'green'
          : showBorder
            ? '#cbd5e1'
            : 'transparent',
      'background-color': showError ? '#fffafa' : '#ffffff'
    }"
  />

  @if (showCharCount) {
    <p class="text-[11px] font-medium text-xs mt-1 text-left">
      {{ currentCharCount }} of {{ maxChars }} characters left
    </p>
  }

  @if (showError) {
    <p class="text-[12px] text-rose-600 mt-1">This field is required</p>
  }
</div>
