<div class="blank-space  w-full h-full bg-white rounded-[25px] p-5 items-start border border-gray-500">
    <div class="inside flex shrink-0 gap-2.5 px-5 pt-5">
        <div class="icon text-red-500 mt-[5px]" aria-hidden="true">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-upload h-4 w-4" aria-hidden="true">
                <path d="M12 3v12"></path>
                <path d="m17 8-5-5-5 5"></path>
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
            </svg> -->
            <orms-icon [name]="'home'"></orms-icon>
        </div>
        <p class="m-0">Documents Upload</p>
        <!-- grid-container grid grid-cols-1 md:grid-cols-2 gap-5 p-5 -->
    </div>
    <div class=" grid grid-cols-1 md:grid-cols-3 gap-5 p-5">
        <orms-file-upload [label]="'Employee Photo'" [buttonLabel]="'Upload File'"></orms-file-upload>
        <!-- <div></div> -->
        <orms-text-box [label]="'Employee PAN Number'" [placeHolder]="'Enter your PAN number'" [isRequired]="true"></orms-text-box>
        <orms-file-upload [label]="'Employee PAN'" [buttonLabel]="'Choose File'"></orms-file-upload>
        <orms-text-box [label]="'Employee Aadhar Number'" [placeHolder]="'Enter your Aadhar number'" [isRequired]="true"></orms-text-box>
        <orms-file-upload [label]="'Employee Aadhar'" [buttonLabel]="'Choose File'"></orms-file-upload>
        <orms-text-box [label]="'Employee Passport'" [placeHolder]="'Enter your Passport number'" [isRequired]="true"></orms-text-box>
        <orms-file-upload [label]="'Employee Passport'" [buttonLabel]="'Choose File'"></orms-file-upload>
        <orms-file-upload [label]="'Last 6months Bank Statements '" [buttonLabel]="'Choose File'"></orms-file-upload>
        <orms-file-upload [label]="'Last 3months Payslips'" [buttonLabel]="'Choose File'"></orms-file-upload>
        <orms-file-upload [label]="'Experience Letter'" [buttonLabel]="'Choose File'"></orms-file-upload>
        <orms-file-upload [label]="'Relieving Letter'" [buttonLabel]="'Choose File'"></orms-file-upload>
        <orms-file-upload [label]="'Offer Letter'" [buttonLabel]="'Choose File'"></orms-file-upload>
    </div>
</div>



<div class="grid grid-container p-[20px] m-[30px] bg-[%f5f5f5]" >

</div>