<div class="leave-approval-container">
  <h2 class="title">Leaves Approval</h2>
  <p class="subtitle">
    Review and manage leave requests from your employees
  </p>

    <div class="info-icon" >
        <app-notice-banner [heading]="'Important: '" [content]="'Review each request carefully.Check employee leave balances before approving. Once approved leave balances will be updated automatically.'" [headingColor]="'#1E3A8A'" [contentColor]="'#374151'" [contentInNextLine]="false" [bannerColor]="'#DBEAFE'" [highlighterColor]="'#1E3A8A'" [showIcon]="true" [iconColor]="'#1E3A8A'" [showBorder]="false"></app-notice-banner>

    </div>
    <div class="typesOf-request">
        <app-chip [text]="'All Requests (3)'" [bgColor]="'#7c3aedff'" [color]="'White'" [activeBGColor]="'#7c3aedff'"></app-chip>
        <app-chip [text]="'Sick Leave (1)'" [color]="'black'" [activeBGColor]="'#7c3aedff'"></app-chip>
        <app-chip [text]="'Casual Leave (1)'" [color]="'black'" [activeBGColor]="'#7c3aedff'"></app-chip>
        <app-chip [text]="'Earned Leave (1)'" [color]="'black'" [activeBGColor]="'#7c3aedff'"></app-chip>
    </div>
    <div class="recent-leave">
        <app-recent-leave-request></app-recent-leave-request>
        <div class="leave-balance-container">
            <h3>Employee Leave Balance</h3>
            <div class="grid">
                <app-count-widget [label]="'Total Days'" [value]="25" [valueColor]="'blue'" [showBorder]="false"></app-count-widget>
                <app-count-widget [label]="'Remaining'" [value]="18" [valueColor]="'green'" [showBorder]="false"></app-count-widget>
                <app-count-widget [label]="'Used'" [value]="7" [valueColor]="'#4c5665'" [showBorder]="false"></app-count-widget>
            </div>
        
            <div class="button-row">
                <app-button [text]="'Reject'" [color]="'black'" [hoverBGColor]="'white'" [borderRadius]="10" [borderColor]="'light grey'"></app-button>
                <app-button [text]="'Approve Leave'" [bgColor]="'#aca1f2'" [color]="'white'" [hoverBGColor]="'#aca1f2'" [hoverColor]="'white'" [borderRadius]="10" [borderColor]="'light grey'" [showBorder]="false"></app-button>
            </div>
        </div>
    </div>
</div>