<div class="form-group">
  <label for="address">
    {{ label }}
    <span *ngIf="isRequired" class="required-star">*</span>
  </label>

  <textarea
    id="address"
    name="address"
    [(ngModel)]="inputText"
    (input)="updateCharCount()"
    [placeholder]="Placeholder"
    [attr.maxlength]="maxChars"
    [ngStyle]="{
      border: showBorder ? '1px solid #cbd5e1' : 'none'
    }"
  ></textarea>

  <p
    *ngIf="showCharCount"
    [ngStyle]="{
      color: isRequired ? '#dc2626' : '#000000',
      fontSize: '11px',
      fontWeight: 500
    }"
    class="text-xs mt-1 text-left"
  >
    {{ currentCharCount }} of {{ maxChars }} characters left
  </p>
</div>
