<div class="form-group">
  <label for="address">
    {{ label }}
    @if (isRequired) {
      <span class="required-star">*</span>
    }
  </label>

  <textarea
    id="address"
    name="address"
    [(ngModel)]="inputText"
    (input)="updateCharCount()"
    [placeholder]="Placeholder"
    [attr.maxlength]="maxChars"
    [ngStyle]="{
    'border': showBorder || isSave ? '1px solid' : 'none',
    'border-color': isSave ? 'green' : (showBorder ? '#cbd5e1' : 'transparent')
  }"
  ></textarea>

  @if (showCharCount) {
    <p
    [ngStyle]="{
      color: isRequired ? '#dc2626' : '#000000',
      
    }"
      class="text-[11px] font-medium text-xs mt-1 text-left"
      >
      {{ currentCharCount }} of {{ maxChars }} characters left
    </p>
  }
</div>
