.form-group { 
  display: flex;
  flex-direction: column;
  /* width: 300px;
  margin: 20px; */
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #171717;
  margin-right: 14rem;
}
textarea {
  padding: 10px 12px;
  border: 1.5px solid #fffefe;
  border-radius: 6px;
  font-size: 14px;
  transition: all 0.25s ease;
  background-color: #fafafa;
  resize: none;
  width: 100%;
  height: 100%;
}
.required-star {
  color: #dc2626; 
  /* font-size: 1rem; */
  font-weight: 600;
  margin-top: -12px;
}

/* textarea:hover {
  border-color: #80bdff;
  background-color: #f9fcff;
} */
textarea:hover {
  outline: none;
  border-color: #007BFF; 
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); 
  background-color: #f0f8ff; 
  transition: all 0.3s ease;
}
textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 9px rgba(0, 123, 255, 0.4); 
  background-color: #fff;
}