.form-group {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color:  #1E293B !important;
  margin-right: 14rem;
}

textarea {
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 14px;
  transition: all 0.25s ease;
  background-color: #fafafa;
  resize: none;
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.required-star {
  color: #dc2626;
  font-weight: 600;
}

textarea:focus {
  outline: none;
  border-color: #2563eb !important;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5);
  background-color: #fff;
}
