.employee-layout {
  display: flex;
  align-items: stretch;  
  background-color: #f9fbfd;
  width: 100%;
  min-height: 100vh;    
}
 
 
.sidebar {
 
  background-color: #f9fbfd !important;
  border-right: 1px solid #e5e7eb;
  min-height: 100%;
 
}
 
.content-area {
  flex: 1;
  background-color: #f9fbfd;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0;
}
 
.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px 48px 40px 48px;
  box-sizing: border-box;
  background-color: #f9fbfd;
}
 
.content-wrapper app-basic-card {
  margin-bottom: 24px;
}
 
 
 
.content-wrapper app-button-navigation {
  margin-top: 32px;
}
 
:host, html, body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;
}