<div class="relative">
  <div class="w-64 bg-gray-200 h-screen p-4"
  [ngStyle]="{
    'opacity': isSidebarVisible ? '1' : '0',
    'transform': isSidebarVisible ? 'translateX(0)' : 'translateX(-100%)',
    'transition': 'all 0.5s ease',
   
  }">


    @for (item of menuItems; track item; let i = $index) {
      <div
        class="flex items-center justify-between p-2 rounded-lg text-gray-700 hover:bg-gray-200 mt-2"
        [ngClass]="{  'bg-blue-100 text-blue-900 border-l-4 border-blue-800 font-medium transition-all': activeIndex === i}"
        (click)="onClick(i)">
        <div class="flex items-center gap-3">
          <i [class]="item.icon"></i>
          <span>{{item.label}}</span>
        </div>
        @if (item.badge) {
          <span
          class="bg-gray-200 text-gray-700 text-sm font-medium  px-2 py-0.5 rounded-full">{{item.badge}}</span>
        }
      </div>
    }

  </div>


</div>
<button
  (click)="toggleSidebar()"
  class="absolute bottom-0 left-[255px] bg-blue-600 text-white text-xl p-2 transition-all duration-500"
     [ngClass]="{
      'left-[255px]': isSidebarVisible,
      'left-[0px]': !isSidebarVisible
    }"
  >
  {{ isSidebarVisible ? '<' : '>' }}
</button>