.chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}

::ng-deep #chartjs-tooltip {
  opacity: 0;
  position: absolute;
  background: white;
  color: #374151;
  border-radius: 8px;
  pointer-events: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 1px solid #e5e7eb;
  width: auto;
  min-width: 140px;
  white-space: nowrap; 
  z-index: 100;
  font-family: 'Poppins', sans-serif;
}

::ng-deep #chartjs-tooltip .tooltip-header {
  background-color: #f3f4f6;
  color: #6b7280;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid #e5e7eb;
}

/* The Body Container */
::ng-deep #chartjs-tooltip .tooltip-body {
  padding: 10px 12px;
  background: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

::ng-deep #chartjs-tooltip .tooltip-row {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: flex-start;
  font-size: 13px;
  width: 100%;
}

::ng-deep #chartjs-tooltip .color-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
}

::ng-deep #chartjs-tooltip .series-name {
  margin-left: 5px;
  color: #6b7280;
  font-weight: 300;
  font-size: 14px;
}

::ng-deep #chartjs-tooltip .tooltip-value {
  margin-left: auto; 
  /* padding-left: 10px; */
  font-weight: 600;
  color: #7e8da0;
  font-size: 14px;
}
