.chart-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
  margin: auto;
}

canvas {
  display: block;
  width: 100% !important;
  height: auto !important;
}

