<div class="login">
  <div class="login-container">
    <div class="login-header">
      <span class="icon"></span>
      <h2>Temporary Login Credentials</h2>
    </div>

    <p class="description">
      Generate a temporary password for the employee's first login. Employee will be required to change this
      password
      on first login.
    </p>

    <div class="grid grid-cols-[30%_55%_15%] gap-2">
      <div class="pr-2 mt-1 border-[#B0D5FD]">
        <app-text-box [label]="'Temporary Username'" placeholder="'Enter Temporary username'"></app-text-box>
      </div>
      <div>
        <app-password [label]="'Temporary Password'" (activeChange)="onActiveChange($event)" [placeholder]="'Enter Temporary Password'"
          (input)="checkPasswordRules()" [(value)]="temporaryPassword" (valueChange)="checkPasswordRules()">
        </app-password>

      </div>



      <div class="pl-2 mt-6 h-[10px]">
        <app-button [text]="'Generate'"> </app-button>

      </div>
    </div>




<ul class="password-rules my-2">
  <li>  Password should be 
  <span [ngClass]="getPasswordLengthClass()">
  12 characters long
  </span>
</li>

  <li [ngClass]="getPasswordRequirementClass()">
     
<span class="innvalid">Include</span>
    <span [class.valid]="hasUppercase"> uppercase</span><span class="innvalid">,</span>
    <span [class.valid]="hasLowercase">lowercase</span><span class="innvalid">,</span>
    <span [class.valid]="hasNumber">number</span><span class="innvalid">,</span>
 <span class="innvalid">and </span> 
    <span [class.valid]="hasSpecialChar">special characters</span>
  </li>
  <li>Employee will be prompted to change password on first login</li>
</ul>



    <app-notice-banner [heading]="'Temporary password generated successfully'" headingColor="green" contentColor="green"
      highlighterColor='green' bannerColor="green-500" [contentInNextLine]="true" [showIcon]="false" [showBorder]="true"
      [content]="'Make sure to securely share this password with the employee through official channels.'">

    </app-notice-banner>

     
    </div>
  </div>



