.login {
  margin-right: -20px;
}

.login-container {
  border: 1px solid rgba(147, 197, 253, 0.6); 
  background: #EFF6FF;
  border-radius: 8px;
  padding: 24px 24px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  font-family: 'Inter', sans-serif;
}

.login-header {
  display: flex;
  align-items: center;
  
  margin-bottom: 8px;
}

.icon {
  font-size: 20px;
  color: #2563eb;
}

h2 {
  font-size: 18px;
  color: #1e293b;
  margin: 0;
}

.description {
  color: grey;
  font-size: 15px;
  padding-bottom: 40px;
  padding-right: 0px;
}

.label {
  font-weight: 600;
  font-size: 14px;
  color: #1e293b;
}

.required {
  color: #dc2626;
}

.input-group {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.input-group input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.input-group input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 1px #2563eb;
}

.icon-btn {
  border: none;
  background: none;
  margin-left: -36px;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.7;
}

.generate-btn {

  background-color: transparent;
  color: #2563eb;
  border: 1px solid #2563eb;
  font-weight: 500;
  border-radius: 4px;
  padding: 8px 14px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.generate-btn:hover {
  background-color: white;
  color: black;
}

.password-rules {
  margin-top: -12px;
  font-size: 13px;
  color: grey;
  list-style-type: disc;
  padding-left: 20px;
}

/* ::ng-deep app-button button{
  width: 100%;
} */

.password-rules li {
  font-weight: 500;
  transition: color 0.2s ease;
}

.password-rules span.active {
  color: red; /* Input focused, no typing */
}

.password-rules span.partial {
  color: red; /* Typing started but < 12 */
}

.password-rules span.complete {
  color: green; 
}

.password-rules span.valid {
  color: green;
}

.password-rules span.invalid {
  color: green;
}

.password-rules li.active {
  color: red;
}

.password-rules li.partial {
  color: red;
}

.password-rules li.complete {
  color: green; 
}

.password-rules span.valid {
  font-weight: bold;
}



.innvalid { 
  color: grey;
  font-weight: bold;

}

 
