<div class="login">
    <div class="login-container">
        <div class="login-header">
            <span class="icon"></span>
            <h2>Temporary Login Credentials</h2>
        </div>

        <p class="description">
            Generate a temporary password for the employee's first login. Employee will be required to change this
            password
            on first login.
        </p>

        <div class="grid grid-cols-[30%_55%_15%]">
            <div class="pr-2">
                <app-password [label]="'Temporary Username'" [placeholder]="'Enter Temporary username'"></app-password>
            </div>
            <div>
                <app-password></app-password>
            </div>
            <div class="pl-2 mt-6 ">
                <app-button [text]="'Generate'"> </app-button>

            </div>
        </div>

        <ul class="password-rules">
            <li>Password should be 8–16 characters long</li>
            <li>Include uppercase, lowercase, numbers, and special characters</li>
            <li>Employee will be prompted to change password on first login</li>
        </ul>

        <div
            class="flex items-start gap-2 p-4 mt-[20px] rounded-lg bg-green-50 border border-green-200 text-green-700 w-full shadow-sm">

            <div class="w-3 h-3 mt-1 bg-green-500 rounded-full"></div>


            <div>
                <p class=" text-green-700">Temporary password generated successfully</p>
                <p class="text-sm text-green-600">
                    Make sure to securely share this password with the employee through official channels.
                </p>
            </div>
        </div>
    </div>

</div>