<div class="profile-section">

  <!-- Basic Info -->
 <button
  class="section-btn"
  (click)="openExpansion('basic')"
  [class.active]="(autoCloseExpansion && openDivId === 'basic') || (!autoCloseExpansion && openDivIdList.has('basic'))">
  Basic Information
</button>
  <div
    *ngIf="(autoCloseExpansion && openDivId === 'basic') || (!autoCloseExpansion && openDivIdList.has('basic'))"
    class="section-content"
  >
    <app-inner-info></app-inner-info>
  </div>

  <!-- Contact Info -->
  <button class="section-btn" 
  (click)="openExpansion('contact')"
  [class.active]="(autoCloseExpansion && openDivId === 'contact') || (!autoCloseExpansion && openDivIdList.has('contact'))">
    Contact Information
  </button>
  <div
    *ngIf="(autoCloseExpansion && openDivId === 'contact') || (!autoCloseExpansion && openDivIdList.has('contact'))"
    class="section-content"
  >
    <app-inner-contact></app-inner-contact>
  </div>

  <!-- Job Details -->
  <button class="section-btn" 
  (click)="openExpansion('job')"
  [class.active]="(autoCloseExpansion && openDivId === 'job') || (!autoCloseExpansion && openDivIdList.has('job'))">
    Job Details
  </button>
  <div
    *ngIf="(autoCloseExpansion && openDivId === 'job') || (!autoCloseExpansion && openDivIdList.has('job'))"
    class="section-content"
  >
    <app-inner-job></app-inner-job>
  </div>

  <!-- Education -->
  <button class="section-btn" 
  (click)="openExpansion('education')"
  [class.active]="(autoCloseExpansion && openDivId === 'education') || (!autoCloseExpansion && openDivIdList.has('education'))">
    Education Details
  </button>
  <div
    *ngIf="(autoCloseExpansion && openDivId === 'education') || (!autoCloseExpansion && openDivIdList.has('education'))"
    class="section-content"
  >
    <app-inner-education></app-inner-education>
  </div>

  <!-- Work -->
  <button class="section-btn" 
  (click)="openExpansion('work')"
  [class.active]="(autoCloseExpansion && openDivId === 'work') || (!autoCloseExpansion && openDivIdList.has('work'))">
    Work Experience
  </button>
  <div
    *ngIf="(autoCloseExpansion && openDivId === 'work') || (!autoCloseExpansion && openDivIdList.has('work'))"
    class="section-content"
  >
    <app-inner-work></app-inner-work>
  </div>

  <!-- Other -->
  <button class="section-btn" 
  (click)="openExpansion('other')"
  [class.active]="(autoCloseExpansion && openDivId === 'other') || (!autoCloseExpansion && openDivIdList.has('other'))">
    Other Details
  </button>
  <div
    *ngIf="(autoCloseExpansion && openDivId === 'other') || (!autoCloseExpansion && openDivIdList.has('other'))"
    class="section-content"
  >
    <app-inner-other></app-inner-other>
  </div>

  <!-- Salary -->
  <button class="section-btn" 
  (click)="openExpansion('salary')"
  [class.active]="(autoCloseExpansion && openDivId === 'salary') || (!autoCloseExpansion && openDivIdList.has('salary'))">
    Salary & Payroll Information
  </button>
  <div
    *ngIf="(autoCloseExpansion && openDivId === 'salary') || (!autoCloseExpansion && openDivIdList.has('salary'))"
    class="section-content"
  >
    <app-inner-salary></app-inner-salary>
  </div>

  <!-- Insurance -->
  <button class="section-btn" 
  (click)="openExpansion('insurance')"
  [class.active]="(autoCloseExpansion && openDivId === 'insurance') || (!autoCloseExpansion && openDivIdList.has('insurance'))">
    Insurance Details
  </button>
  <div
    *ngIf="(autoCloseExpansion && openDivId === 'insurance') || (!autoCloseExpansion && openDivIdList.has('insurance'))"
    class="section-content"
  >
    <app-inner-insurance></app-inner-insurance>
  </div>

</div>
