<div class="profile-section">

  <!-- Basic Info -->
  <button
    class="section-btn"
    (click)="openExpansion('basic')"
    [class.active]="(autoCloseExpansion && openDivId === 'basic') || (!autoCloseExpansion && openDivIdList.has('basic'))">
    Basic Information
  </button>
  @if ((autoCloseExpansion && openDivId === 'basic') || (!autoCloseExpansion && openDivIdList.has('basic'))) {
    <div
      class="section-content"
      >
      <orms-inner-info></orms-inner-info>
    </div>
  }

  <!-- Contact Info -->
  <button class="section-btn"
    (click)="openExpansion('contact')"
    [class.active]="(autoCloseExpansion && openDivId === 'contact') || (!autoCloseExpansion && openDivIdList.has('contact'))">
    Contact Information
  </button>
  @if ((autoCloseExpansion && openDivId === 'contact') || (!autoCloseExpansion && openDivIdList.has('contact'))) {
    <div
      class="section-content"
      >
      <orms-inner-contact></orms-inner-contact>
    </div>
  }

  <!-- Job Details -->
  <button class="section-btn"
    (click)="openExpansion('job')"
    [class.active]="(autoCloseExpansion && openDivId === 'job') || (!autoCloseExpansion && openDivIdList.has('job'))">
    Job Details
  </button>
  @if ((autoCloseExpansion && openDivId === 'job') || (!autoCloseExpansion && openDivIdList.has('job'))) {
    <div
      class="section-content"
      >
      <orms-inner-job></orms-inner-job>
    </div>
  }

  <!-- Education -->
  <button class="section-btn"
    (click)="openExpansion('education')"
    [class.active]="(autoCloseExpansion && openDivId === 'education') || (!autoCloseExpansion && openDivIdList.has('education'))">
    Education Details
  </button>
  @if ((autoCloseExpansion && openDivId === 'education') || (!autoCloseExpansion && openDivIdList.has('education'))) {
    <div
      class="section-content"
      >
      <orms-inner-education></orms-inner-education>
    </div>
  }

  <!-- Work -->
  <button class="section-btn"
    (click)="openExpansion('work')"
    [class.active]="(autoCloseExpansion && openDivId === 'work') || (!autoCloseExpansion && openDivIdList.has('work'))">
    Work Experience
  </button>
  @if ((autoCloseExpansion && openDivId === 'work') || (!autoCloseExpansion && openDivIdList.has('work'))) {
    <div
      class="section-content"
      >
      <orms-inner-work></orms-inner-work>
    </div>
  }

  <!-- Other -->
  <button class="section-btn"
    (click)="openExpansion('other')"
    [class.active]="(autoCloseExpansion && openDivId === 'other') || (!autoCloseExpansion && openDivIdList.has('other'))">
    Other Details
  </button>
  @if ((autoCloseExpansion && openDivId === 'other') || (!autoCloseExpansion && openDivIdList.has('other'))) {
    <div
      class="section-content"
      >
      <orms-inner-other></orms-inner-other>
    </div>
  }

  <!-- Salary -->
  <button class="section-btn"
    (click)="openExpansion('salary')"
    [class.active]="(autoCloseExpansion && openDivId === 'salary') || (!autoCloseExpansion && openDivIdList.has('salary'))">
    Salary & Payroll Information
  </button>
  @if ((autoCloseExpansion && openDivId === 'salary') || (!autoCloseExpansion && openDivIdList.has('salary'))) {
    <div
      class="section-content"
      >
      <orms-inner-salary></orms-inner-salary>
    </div>
  }

  <!-- Insurance -->
  <button class="section-btn"
    (click)="openExpansion('insurance')"
    [class.active]="(autoCloseExpansion && openDivId === 'insurance') || (!autoCloseExpansion && openDivIdList.has('insurance'))">
    Insurance Details
  </button>
  @if ((autoCloseExpansion && openDivId === 'insurance') || (!autoCloseExpansion && openDivIdList.has('insurance'))) {
    <div
      class="section-content"
      >
      <orms-inner-insurance></orms-inner-insurance>
    </div>
  }

</div>
