<div class="reportees-container">
  <div class="header">
    <h3>My Reportees</h3>
    <app-button [text]="'View All Reportees'" [bgColor]="'#fff'" [color]="'#1887e2'" [hoverBGColor]="'#ececec'"
      [hoverColor]="'#1887e2'" [showBorder]="false">
    </app-button>
  </div>

  <div class="table">
    <div class="table-header">
      <div class="col">Employee</div>
      <div class="col">Designation</div>
      <div class="col">Department</div>
      <div class="col">Work Location</div>
    </div>
    <div class="table-row">
      <div class="col employee">
        <img [src]="EmployeePhoto" alt="profile">
        <div>
          <div class="emp-name">{{employeeName}} - {{ employeeId }}</div>
          <div class="emp-email">{{employeeEmail}}</div>
        </div>
      </div>
      <div class="col">{{designation}}</div>
      <div class="col">{{department}}</div>
      <div class="col">{{workLocation}}</div>
    </div>
  </div>
</div>