<div class="relative w-[280px] h-[140px] mx-auto" (mouseenter)="onDialEnter()"
  (mouseleave)="onDialLeave()">
  <canvas #dialCanvas></canvas>
  <!-- Use top-[70%] to push the label below the center of the arc -->
  <div class="absolute top-[60%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center w-full">
    <h2 class="text-[15px] font-bold pr-[130px]">{{ percentage }}%</h2>
    <div class="bg-white rounded-md mr-[120px]  inline-block text-sm ">
        Last Month  <span class="text-green-500 font-semibold ">{{ lastMonthChange }}%+</span>
    </div>
  </div>
</div>
