.otp-label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #1E293B !important;
  text-align: left;
  width: 300px;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 300px;
}

.otp-inputs input {
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f3f0ff;
  outline: none;
}
.otp-inputs :focus{
  border-color: #2563eb !important;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5);
}
