.dropdown-wrapper {
  text-align: left;
  /* width: 400px;
  margin: 10px; */
}

.label-name {
  display: block;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 6px;
  font-size: 15px;
}

label {
  color: #1f2937;
  display: block;
}

.required {
  color: red;
}

.custom-dropdown {
  position: relative;
  user-select: none;
  width: 100%;
}
.custom-dropdown-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease;
  height: 36px;
}
.custom-dropdown-selected.placeholder {
  color: #9ca3af /* Grey placeholder text */
}

.custom-dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  list-style: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-top: 4px; 
  overflow: hidden;
  z-index: 1000;
}

.custom-dropdown-list li {
  margin: 4px 3px;
  border-radius: 6px;
  transition: background-color 0.2s ease, transform 0.1s ease;


}
.custom-dropdown-list li label {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  margin: 3px 5px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  line-height: 1.4;
}

.custom-dropdown-list li:hover {
  background-color: #c7cacf;
  /* font-size: 16px;
  transition: font-size 0.3s ease; */
  font-weight: bold;
  transform: scale(1);
}

.dropdown-toggle:checked~.custom-dropdown-list {
  display: block;
}

/* .custom-dropdown .dropdown-toggle:checked
{
  border-color: #0d61af;
} */

.custom-dropdown-selected:hover,
.custom-dropdown-selected:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(146, 176, 244, 0.6);
  outline: none;
}

.custom-dropdown-list li.selected {
  background-color: #c7cacf;
}

.custom-dropdown-list.open-up {
  bottom: 100%;
  top: auto;
  margin-top: 0;
  margin-bottom: 4px;
}

