<div class="quick-activity-container">
  <div class="quick-activity-header">
    <h6 class="Activities-title">Quick Activities</h6>
    <div class="button-row">
      <button class="view-btn">View All</button>
    </div>
  </div>

  <!-- Activities List -->
  @for (activity of activities; track activity) {
    <ul class="activities-list">
      <div class="activity-details">
      <li class="name">    <orms-dot [label]="'
      '" [dotColor]="'#1e99ae'" [dotSize]="'medium'"></orms-dot>{{ activity.name }}</li>
        <div class="date">{{ activity.date | duration }}</div>
      </div>
    </ul>
  }
</div>
