.quick-activity-container{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 50vh;
  border: 1px solid rgb(208, 208, 208);
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 25px;
  padding: 14px;
}
.quick-activity-header{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.Activities-title{
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: 600;
}
.button-row{
    display: flex;
    gap:18px;
    color: rgb(0, 119, 255);
}
.activities-list{
    display: flex;
    gap:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding:12px 14px;
    border-radius: 6px;
    margin: 5px;
    align-items: center;
}
.activities-list:hover{
    background-color: rgba(165, 192, 255, 0.167);
}
.name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 400;
}
.date{
    color: grey;
    font-size: 10px;
    font-weight: 400;
    margin-top: 4px;

}