<div class="blank-space">
    <div class="inside">
      <div class="icon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone h-5 w-5" aria-hidden="true"><path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"></path></svg>
        </div>
        <p class="text">Contact Information</p>
    </div>
    <div class="grid-container">
      <app-label-value [label]="'Personal Mail'" [value]="'Not Specified'"></app-label-value>
      <!-- <div></div> -->
      <app-label-value [label]="'LinkedIn URL'" [value]="'Not Specified'"></app-label-value>
      <app-label-value [label]="'Contact Number'" [value]="'Not Specified'"></app-label-value>
      <app-label-value [label]="'Permanent Address'" [value]="'Not Specified'"></app-label-value>
      <app-label-value [label]="'Present Address'" [value]="'Not Specified'"></app-label-value>
      <app-label-value [label]="'Emergency Contact Name 1'" [value]="'Not Specified'"></app-label-value>
      <app-label-value [label]="'Emergency Contact Name 2'" [value]="'Not Specified'"></app-label-value>
      <app-label-value [label]="'Emergency Contact Number 1'" [value]="'Not Specified'"></app-label-value>
      <app-label-value [label]="'Emergency Contact Number 2'" [value]="'Not Specified'"></app-label-value>
      <app-label-value [label]="'Emergency Contact Relation 1'" [value]="'Not Specified'"></app-label-value>
      <app-label-value [label]="'Emergency Contact Relation 2'" [value]="'Not Specified'"></app-label-value>
    </div>
</div>