<div class="form-container">

  <div class="form-header">
    <span
      style="display:inline-block; width:32px; height:32px; background:#e9f0fb; border-radius:8px; margin-right:12px; vertical-align:middle;">
      <orms-icon [name]="'home'"></orms-icon>
    </span>
    <div class="header-text" style="display:inline-block; vertical-align:middle;">
      <h3>Basic Information</h3>
      <p>Personal details and identification</p>
    </div>
  </div>


  <div class="grid">
    <div>
      <orms-text-box [label]="'Full Name'" [placeHolder]="'Enter Full Name'" [isRequired]="true"></orms-text-box>
    </div>
    <div>
      <orms-text-box [label]="'Employee ID'" [placeHolder]="'EMP0042'" [isRequired]="true"></orms-text-box>
    </div>
    <div>
      <orms-calendar [label]="'Date of Birth'">
        <!-- (dateSelected)="dateSelected($event)"> -->
        <!-- (calendarClosed)="calendarClosed($event)"> -->
      </orms-calendar>
    </div>

    <div>
      <orms-calendar [label]="'Date of Joining'" [isRequired]="false">
        <!-- (dateSelected)="dateSelected($event)"
        (calendarClosed)="calendarClosed($event)"> -->
      </orms-calendar>
    </div>
    <div>
      <orms-drop-down [label]="'Gender'" [placeHolder]="'Select Gender'"
        [options]="[{value: 1, name: 'Male'}, {value: 2, name: 'Female'}, {value: 3, name: 'Other'}]">
        <!-- (selectedChange)="selectedChange($event)"> -->
      </orms-drop-down>
    </div>
    <div>
      <orms-drop-down [label]="'Marital Status'" [placeHolder]="'Select Marital Status'" [isRequired]="false"
        [options]="[{value: 1, name: 'Single'}, {value: 2, name: 'Married'}]">
        <!-- (selectedChange)="selectedChange($event)"> -->
      </orms-drop-down>
    </div>


  </div>
</div>