<div class="otp-page">
  <div class="welcome-section">
    <h1>Welcome to website</h1>
  </div>

  <div class="otp-container">
    <h2>OTP Verification</h2>
    <p>An otp has been sent to your email xyz&#64;gmail.com</p>

    <app-otp></app-otp>

    <app-button [text]="'Verify'" [bgColor]="'rgba(161, 3, 246, 1)'" [color]="'White'" [hoverBGColor]="'#f787c9'" [hoverColor]="'white'" [borderColor]="'White'" [showBorder]="false"></app-button>
    <div class="back-link">
    <a href="#">Back to Login</a>
    </div>
  </div>
</div>
