<div class="container anycard">
    <div class="header">
        <h1>Your Leave Balance</h1>
    </div>
    <div class="anycard">
        <p>Sick Leave</p>
        <orms-progress-bar></orms-progress-bar>
    </div>
    <div class="anycard">
        <p>Casual Leave</p>
        <orms-progress-bar [used]="7"></orms-progress-bar>
    </div>
   <div class="anycard">
        <p>Earned Leave</p>
        <orms-progress-bar [used]="10"></orms-progress-bar>
    </div>
    <div class="anycard">
        <p>Maternity Leave</p>
        <orms-progress-bar [used]="10"></orms-progress-bar>
    </div>
    <div class="anycard">
        <p>Paternity Leave</p>
        <orms-progress-bar [used]="10"></orms-progress-bar>
    </div>
    <div class="anycard">
        <p>Comp-off Leave</p>
        <orms-progress-bar [used]="10"></orms-progress-bar>
    </div>
    <div class="anycard">
        <p>Unpaid Leave</p>
        <orms-progress-bar [used]="10"></orms-progress-bar>
    </div>
</div>
