  .tooltip {
  pointer-events: none;
  position: fixed;
  z-index: 10000;
   background: var(--tooltip-bg, #03a9f4);
  color: var(--tooltip-color, white);
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  white-space: normal;
  word-wrap: break-word;
  transform-origin:center;
  transition: transform 120ms ease, opacity 120ms ease;
  opacity: 0;
  transform: scale(0.95);
}
:host(.visible) .tooltip {
  opacity: 1;
  transform: scale(1);
}

.tooltip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}


.tooltip[data-position="top"]::after {
  bottom: -6px;
  left: 10px;
  border-width: 6px 6px 0 6px;
  border-color: var(--tooltip-bg, #03a9f4) transparent transparent transparent;
}


.tooltip[data-position="bottom"]::after {
  top: -6px;
  left: 10px;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent var(--tooltip-bg, #03a9f4) transparent;
}


.tooltip[data-position="left"]::after {
  top:10px;
  right: -6px;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent var(--tooltip-bg, #03a9f4);
}


.tooltip[data-position="right"]::after {
  top: 10px;
  left: -6px;
  border-width: 6px 6px 6px 0;
  border-color: transparent var(--tooltip-bg, #03a9f4) transparent transparent;
}

