<table>
  <thead>
    <tr>
      <td class="table-header-first"><span>Name</span></td>
      <td class="table-header"><span>Leave Type</span></td>
      <td class="table-header"><span>Department</span></td>
      <td class="table-header"><span>Days</span></td>
      <td class="table-header"><span>Start</span></td>
      <td class="table-header"><span>End</span></td>
      <td class="table-header-last"><span>Status</span></td>
    </tr>
    <tr>
        <td>James Anderson</td>
        <td class="Casual">Casual Leave</td>
        <td>Backend developer</td>
        <td>2 Days</td>
        <td>12 july 2024</td>
        <td>15 july 2024</td>
        <td>Manu</td>
    </tr>
    <tr>
        <td>Manu</td>
        <td class="Casual">Casual Leave</td>
        <td>Full-Stack Developer</td>
        <td>5 days</td>
        <td>Manu</td>
        <td>Manu</td>
        <td>Manu</td>
    </tr>
    <tr>
        <td>Manu</td>
        <td class="Casual">Casual Leave</td>
        <td>Full-Stack Developer</td>
        <td>5 days</td>
        <td>Manu</td>
        <td>Manu</td>
        <td>Manu</td>
    </tr>
    <tr>
        <td>Manu</td>
        <td>Casual Leave</td>
        <td>Full-Stack Developer</td>
        <td>5 days</td>
        <td>Manu</td>
        <td>Manu</td>
        <td>Manu</td>
    </tr>
    <tr>
        <td>Manu</td>
        <td>Casual Leave</td>
        <td>Full-Stack Developer</td>
        <td>5 days</td>
        <td>Manu</td>
        <td>Manu</td>
        <td>Manu</td>
    </tr>
    <tr>
        <td>Manu</td>
        <td class="data">Casual Leave</td>
        <td>Full-Stack Developer</td>
        <td>5 days</td>
        <td>Manu</td>
        <td>Manu</td>
        <td>Manu</td>
    </tr>
    <tr>
        <td>Manu</td>
        <td class="data">Casual Leave</td>
        <td>Full-Stack Developer</td>
        <td>5 days</td>
        <td>Manu</td>
        <td>Manu</td>
        <td>Manu</td>
    </tr>
    <tr>
        <td>Manu</td>
        <td class="data">Casual Leave</td>
        <td>Full-Stack Developer</td>
        <td>5 days</td>
        <td>Manu</td>
        <td>Manu</td>
        <td>Manu</td>
    </tr>
    <tr>
        <td>Manu</td>
        <td class="Casual">Casual Leave</td>
        <td>Full-Stack Developer</td>
        <td>5 days</td>
        <td>Manu</td>
        <td>Manu</td>
        <td>Manu</td>
    </tr>
    <tr>
        <td>Manu</td>
        <td class="Casual">Casual Leave</td>
        <td>Full-Stack Developer</td>
        <td>5 days</td>
        <td>Manu</td>
        <td>Manu</td>
        <td>Manu</td>
    </tr>
  </thead>
</table>
