<div class="box">
  <div class="button-container">
    <div class="left-buttons">
      <app-button [text]="'< Previous'" [bgColor]="'#fafbfc'" [color]="'#334155'" [hoverBGColor]="'#e2e8f0'" [hoverColor]="'black'" [borderRadius]="5" [borderColor]="'#e2e8f0'"></app-button>
    </div>

    <div class="right-buttons">
      <app-button [text]="'Cancel'" [bgColor]="'#fafbfc'" [hoverBGColor]="'#fbe9e9'" [hoverColor]="'black'" [borderColor]="'red'">
      </app-button>

      <app-button [text]="'Next >'" [bgColor]="'#2563eb'" [color]="'white'" [hoverBGColor]="'#3a72ec'" [hoverColor]="'white'" [showBorder]="false"></app-button>
    </div>
  </div>
</div>
