<div class="blank-space">
  <div class="inside">
    <div class="icon" aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-user h-5 w-5" aria-hidden="true">
        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
        <circle cx="12" cy="7" r="4"></circle>
      </svg>
    </div>
    <p class="text">Basic Information</p>
  </div>
  <div class="grid-container">
    <orms-label-value [label]="'Date Of Joining'" [value]="basicInformation?.dateOfJoining??'NA'"></orms-label-value>
    <!-- <div></div> -->
    <orms-label-value [label]="'Employee Name'" [value]="basicInformation?.employeeName??'NA'"></orms-label-value>
    <orms-label-value [label]="'Employee ID'" [value]="basicInformation?.employeeId??'NA'"></orms-label-value>
    <orms-label-value [label]="'Date Of Birth'" [value]="basicInformation?.dateOfBirth??'NA'"></orms-label-value>
    <orms-label-value [label]="'Gender'" [value]="basicInformation?.gender??'NA'"></orms-label-value>
    <orms-label-value [label]="'Blood Group'" [value]="basicInformation?.bloodGroup??'NA'"></orms-label-value>
    <orms-label-value [label]="'Marital Status'" [value]="basicInformation?.maritalStatus??'NA'"></orms-label-value>
  </div>
</div>