<button
  class="relative overflow-hidden flex items-center justify-center px-4 transition-transform duration-200 active:scale-95"
  [class.border]="showBorder"
  [ngStyle]="{
    backgroundColor: isHovered ? hoverBGColor : bgColor,
    color: isHovered ? hoverColor : color,
    borderRadius: borderRadius + 'px',
    borderColor: borderColor,
    width: isexpand ? '100%' : 'auto',
    paddingTop: '0px',
    paddingBottom: '4px'
  }"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
  (click)="createRipple($event)"
>
  {{ text }}
</button>
