.ripple-effect {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animate 1.5s linear;
  background-color: rgba(255, 255, 255, 0.5); 
  pointer-events: none;
}

@keyframes ripple-animate {
  to {
    transform: scale(15);
    opacity: 0;
  }
}

