body {
  background-color: #f8f9fc;
  font-family: "Poppins", sans-serif;
  display: flex;
  
  width: 100%;
}

.team-card {
  background: #ffffff;
  padding: 20px 25px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  width: 100%;
  
}

.team-title {
  font-size: 25px;
  font-weight: 750;
  color: #560cb4;
  margin-bottom: 20px;
  text-align: center;
}

.member {
  display: flex;
  align-items: center;
  background: #faf8ff;
  padding: 10px 12px;
  border-radius: 12px;
  margin-bottom: 12px;
  transition: all 0.3s ease;
  /* box-shadow: 2px 4px rgb(233, 244, 248); */
  box-shadow: 2px 4px 8px rgb(233, 244, 248);
  


}

.member:hover {
  background: #e6e7e9;
}



img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 15px;
}

.member-info h3 {
  margin: 0;
  font-size: 15px;
  font-weight: 650;
  color: #560cb4;
}

.member-info p {
  margin: 2px 0 0;
  font-size: 13px;
  color: #888;
}

.see-all-btn {
  background-color: #ffb84d;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease;
}

.btn{
  text-align: center;
}
.see-all-btn:hover {
  background-color: #ff9f1a;
}
