<div class="login">
<div class="login-container">
    <div class="login-header">
        <span class="icon"></span>
        <h2>Temporary Login Credentials</h2>
    </div>

    <p class="description">
        Generate a temporary password for the employee's first login. Employee will be required to change this password
        on first login.
    </p>

    <div class="grid grid-cols-[30%_55%_15%]">
         <div class="pr-2">
            <app-password-box [label]="label" [type]="passwordVisible ? 'text' : 'password'" 
        [placeholder]="placeholder"></app-password-box>
        </div>
        <div>
            <app-password-box></app-password-box>
        </div>
        <div class="mt-[28px]">
            <button type="button" class="generate-btn " (click)="generatePassword()">
                Generate
            </button>
        </div>
    </div>

    <ul class="password-rules">
        <li>Password should be 8–16 characters long</li>
        <li>Include uppercase, lowercase, numbers, and special characters</li>
        <li>Employee will be prompted to change password on first login</li>
    </ul>
</div>
</div>