<div class="blank-space">
    <div class="inside">
        <div class="icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-dollar-sign h-5 w-5" aria-hidden="true">
                <line x1="12" x2="12" y1="2" y2="22"></line>
                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
            </svg>
        </div>
        <p class="text">Salary & Payroll Information</p>
    </div>
    <div class="grid-container">
        <orms-label-value [label]="'Current CTC'" [value]="currentCTC??'NA'"></orms-label-value>
        <div></div>
    </div>
    <hr class="custom-line">
    <div class="grid-container">
        <p class="text2">Bank Details</p>
        <div></div>
        <orms-label-value [label]="'Bank Name'" [value]="bankDetails?.bankName??'NA'"></orms-label-value>
        <orms-label-value [label]="'Branch Name'" [value]="bankDetails?.branchName??'NA'"></orms-label-value>
        <orms-label-value [label]="'Account Number'" [value]="bankDetails?.accountNummber??'NA'"></orms-label-value>
        <orms-label-value [label]="'IFSC Code'" [value]="bankDetails?.ifscCode??'NA'"></orms-label-value>
        <orms-label-value [label]="'PF Account Number'" [value]="bankDetails?.pfAccountNumber??'NA'"></orms-label-value>
    </div>
</div>