<div class="header">
    <div class="design_1">
        <img class="header-logo"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDtV5o8uP07w1WZBt1RhCfk6qtv37V3HpzkQ&s" />
        <div>
            <div class="name">Open Rainbow</div>
            <div class="name_1">Employee Management System</div>
        </div>
    </div>

    <div class="design_3">
        <div class="bell-container">
            <button class="bell-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="bell-svg-icon">
                    <path d="M10.268 21a2 2 0 0 0 3.464 0"></path>
                    <path
                        d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326">
                    </path>
                </svg>
            </button>
            <span class="notification-dot"></span>
        </div>


        <div class="admin_details">
            <div class="design_2">JA</div>
            <div class="admin_details_text">
                <div class="admin_name">John Admin</div>
                <div class="admin_role">System Administrator</div>
            </div>
        </div>
    </div>
</div>