<div class="blank-space">
    <div class="inside">
        <div class="icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-shield-rupee h-5 w-5" aria-hidden="true">
                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                <path d="M9 9h6"></path>
                <path d="M9 12h6"></path>
                <path d="M9 9c1.5 3 3 6 6 6"></path>
            </svg>
        </div>
        <p class="text">Insurance Details</p>
    </div>
    <div class="grid-container">
        <!-- <p class="text">Father Details</p> -->

        <div>
            <p class="text">Father Details</p>
            <hr>

        </div>
        <app-label-value [label]="'Father-Name'" [value]="'Not Specified'"></app-label-value>
        <app-label-value [label]="'Father-Aadhar'" [value]="'Not Specified'"></app-label-value>
        <app-label-value [label]="'Father-Pan'" [value]="'Not Specified'"></app-label-value>
        <app-label-value [label]="'Father-DOB'" [value]="'Not Specified'"></app-label-value>
        <app-label-value [label]="'Father-Occupation'" [value]="'Not Specified'"></app-label-value>
    </div>
    <div class="grid-container">
        <div>
            <p class="text">Mother Details</p>
            <hr>
        </div>
        <!-- <div></div> -->
        <app-label-value [label]="'Mother-Name'" [value]="'Not Specified'"></app-label-value>
        <app-label-value [label]="'Mother-Aadhar'" [value]="'Not Specified'"></app-label-value>
        <app-label-value [label]="'Mother-Pan'" [value]="'Not Specified'"></app-label-value>
        <app-label-value [label]="'Mother-DOB'" [value]="'Not Specified'"></app-label-value>
        <app-label-value [label]="'Mother-Occupation'" [value]="'Not Specified'"></app-label-value>
    </div>
    <div class="grid-container">
        <div>
            <p class="text">Spouse Details</p>
            <hr>
        </div>
        <!-- <div></div> -->
        <app-label-value [label]="'Spouse-Name'" [value]="'Not Specified'"></app-label-value>
        <app-label-value [label]="'Spouse-Aadhar'" [value]="'Not Specified'"></app-label-value>
        <app-label-value [label]="'Spouse-Pan'" [value]="'Not Specified'"></app-label-value>
        <app-label-value [label]="'Spouse-DOB'" [value]="'Not Specified'"></app-label-value>
        <app-label-value [label]="'Spouse-Occupation'" [value]="'Not Specified'"></app-label-value>
    </div>
</div>